<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">

    <form>

        <span>{{ count }} / 30</span>

        <textarea v-model="text"></textarea>

        <button v-if="count <= 30">Отправить</button>

    </form>

</div>
<footer>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <!--<script src="node_modules/vue/dist/vue.min.js"></script>-->
    <script src="js/main.js"></script>
</footer>
</body>
</html>